<section class="main">
    <aside class="container">
        <header class="head">
            <p>All In One In <span>Revo</span></p>
        </header>
        <aside class="body">
<aside class="text">Download the app for free</aside>
<aside class="app">
    <aside class="download">
        <aside class="icon1"><img src="\assets\images\apple.jpeg"></aside>
        <aside class="icontext">
            <p class="small">Download on the</p>
            <p class="large">App store</p>
        </aside>
    </aside>
    <aside class="download">
        <aside class="icon2"><img src="\assets\images\playstore.png"></aside>
        <aside class="icontext">
            <p class="small">Download on the</p>
            <p class="large">Play store</p>
        </aside>
    </aside>
</aside>
        </aside>
    </aside>
</section>
