<section class="main">
<footer class="top">
    <aside class="container">
        <aside class="group">
            <h2>We Are In</h2>
            <p>USA</p>
            <p>China</p>
            <p>India</p>
            <p>Canada</p>
            <p>Japan</p>
        </aside>
        <aside class="group">
            <h2>Our Services</h2>
            <p>Property Listing</p>
            <p>Property Management</p>
            <p>Loan Services</p>
        </aside>
        <aside class="group">
            <h2>With Us</h2>
            <p>Seller</p>
            <p>Builder</p>
            <p>Buyers</p>
            <p>Bank Agent</p>
            <p>Transaction Manager</p>
            <p>Driver</p>
        </aside>
        <aside class="group">
            <h2>Quick Links</h2>
            <p>Properties</p>
            <p>Builders</p>
            <p>Categories</p>
            <p>Builders</p>
        </aside>
        <aside class="group">
            <h2>Help</h2>
            <p>FAQ Policy </p>
            <p>Terms & Conditions</p>
            <p>Privacy Policy</p>
            <p>Editorial Policy</p>
            <p>Referral Policy </p>
            <p>Site Map</p>
        </aside>
    </aside>
</footer>
<section class="bottom">
    <aside class="container">
        <aside class="icons">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
        </aside>
        <aside class="link">©2022 REVO Home . All rights reserved. <a href="#">Terms</a> | <a href="#">Privacy</a></aside>
    </aside>
</section>
</section>