<section class="main">
    <header class="search-head">
        <aside class="search">
            <div class="input-container">
                <span class="material-icons-round icon">search</span>
                <input class="input-field" type="text" placeholder="Popular Searches" name="usrnm">
            </div>
        </aside>
        <aside class="history"><a>Search 1</a></aside>
        <aside class="history"><a>Search 2</a></aside>
        <aside class="history"><a>Search 3</a></aside>
        <aside class="history"><a>Search 4</a></aside>
        <aside class="history"><a>Search 5</a></aside>
        <aside class="history"><a>Search 6</a></aside>
        <aside class="history"><a>Search 7</a></aside>
    </header>
    <section class="cards">
            <aside class="card__container">
                <aside class="card" id="card1">
                    <span class="soverlap overlap__circle"></span>
                    <span class="smoverlap overlap__circle"></span>
                    <span class="overlap overlap__circle">
                        <span class="material-icons-round credit">
                            credit_card
                        </span>
                        <span class="material-icons-round house">
                            other_houses
                        </span>
                    </span> 
                </aside>
                <aside class="card__text">
                    <span class="text">Pay Rent</span>
                </aside>
            </aside>
        <aside class="card__container">
            <aside class="card" id="card2">
                <span class="soverlap overlap__circle2"></span>
                <span class="smoverlap overlap__circle2"></span>
                <span class="overlap overlap__circle2">
                    <span class="material-icons-round credit">
                        newspaper
                    </span>
                    <span class="material-icons-round house">
                        other_houses
                    </span>
                </span>
            </aside>
            <aside class="card__text">
                <span class="text">Rent Agreement</span>
            </aside>
        </aside>
        <aside class="card__container">
            <aside class="card" id="card3">
                <span class="soverlap overlap__circle3"></span>
                <span class="smoverlap overlap__circle3"></span>
                <span class="overlap overlap__circle3">
                    <span class="material-icons-round credit">
                        real_estate_agent
                    </span>
                    <span class="material-icons-round house">
                         credit_card
                    </span>
                </span>
            </aside>
            <aside class="card__text">
                <span class="text">Home Loans</span>
            </aside>
        </aside>
        <aside class="card__container">
            <aside class="card" id="card4">
                <span class="soverlap overlap__circle4"></span>
                <span class="smoverlap overlap__circle4"></span>
                <span class="overlap overlap__circle4">
                    <span class="material-icons-round credit">
                        weekend
                    </span>
                    <span class="material-icons-round house">
                        wind_power
                    </span>
                </span>
            </aside>
            <aside class="card__text">
                <span class="text">Home Interiors </span>
            </aside>
        </aside>
        <aside class="card__container">
            <aside class="card" id="card5">
                <span class="soverlap overlap__circle5"></span>
                <span class="smoverlap overlap__circle5"></span>
                <span class="overlap overlap__circle5">
                    <span class="material-icons-round credit">
                        other_houses
                    </span>
                    <span class="material-icons-round house">
                         solar_power
                    </span>
                </span>
            </aside>
            <aside class="card__text">
                <span class="text">Solar Rooftop</span>
            </aside>
        </aside>
        <aside class="card__container">
            <aside class="card" id="card6">
                <span class="soverlap overlap__circle6"></span>
                <span class="smoverlap overlap__circle6"></span>
                <span class="overlap overlap__circle6">
                    <span class="material-icons-round credit">
                        credit_card
                    </span>
                    <span class="material-icons-round house">
                        diamond
                    </span>
                </span>
            </aside>
            <aside class="card__text">
                <span class="text">Premium Apartment</span>
            </aside>
        </aside>
        <aside class="card__container">
            <aside class="card" id="card7">
                <span class="soverlap overlap__circle7"></span>
                <span class="smoverlap overlap__circle7"></span>
                <span class="overlap overlap__circle7">
                    <span class="material-icons-round credit">
                        local_shipping
                    </span>
                    <span class="material-icons-round house">
                        other_houses
                    </span>
                </span>
              
            </aside>
            <aside class="card__text">
                <span class="text">Packers & Movers</span>
            </aside>
        </aside>
        <aside class="card__container">
            <aside class="card" id="card8">
                <span class="soverlap overlap__circle8"></span>
                <span class="smoverlap overlap__circle8"></span>
                <span class="overlap overlap__circle8">
                    <span class="material-icons-round credit">
                        real_estate_agent
                    </span>
                    <span class="material-icons-round house">
                        other_houses
                    </span>
                </span>
            </aside>
            <aside class="card__text">
                <span class="text">Property Manegment</span>
            </aside>
        </aside> 
    </section>
    <footer class="button_cards">
        <aside class="card_over">
            <section class="img">
                 <img src="\assets\images\Group 57737@2x.jpg">
            </section>
            <header class="fond_text">
                <h1 class="headding">BUY PROPERTY</h1>
                <p class="paragraph">Find your place with an immersive photo<br> experience and the most listings, including things you won’t find anywhere else.</p>
                <button class="button">Browse</button>
            </header>
        </aside>
        <aside class="card_over">
            <section class="img">
                <img src="\assets\images\Group 57737@2x.jpg">
           </section>
           <header class="fond_text">
               <h1 class="headding">SELL PROPERTY</h1>
               <p class="paragraph">No matter what path you take to sell your home, we can help you navigate a successful sale.</p>
               <button class="button">Start Now</button>
           </header>
        </aside>
        <aside class="card_over">
            <section class="img">
                <img src="\assets\images\Group 57731@2x.jpg">
           </section>
           <header class="fond_text">
               <h1 class="headding">RENT PROPERTY</h1>
               <p class="paragraph">Find your place with an immersive photo experience and the most listings, including things you won’t find anywhere else.</p>
               <button class="button button_width">Find Rentals</button>
           </header>
        </aside>

    </footer>
</section>
<!-- <div class="card">  .
    <div class="card1">  .
        <div class="cardimg"> . 
            <img src="\assets\card1.jpg">  
        </div>  
        <div class="cardtext">  
            <div class="cardtextstep">Step 1:</div>  
            <div class="cardtexthead">  
                <h3>Post Your Property Add</h3>  
            </div>  
            <div class="cardtextpara"><small>Enter all details like locality name, amenities  
                    etc.along with aploading photos</small></div>  
        </div>  
    </div>  
    <div class="card2">  
        <div class="cardimg">  
            <img src="\assets\card2.jpg">  
        </div>  
        <div class="cardtext">  
            <div class="cardtextstep">Step 2:</div>  
            <div class="cardtexthead">  
                <h3>Check Responses on Dashboard</h3>  
            </div>  
            <div class="cardtextpara"><small>Get access to Buyer/Tanent condact details & connect  
                    easily</small></div>  
        </div>  
    </div>  
    <div class="card3">  
        <div class="cardimg">  
            <img src="\assets\card3.jpg">  
        </div>  
        <div class="cardtext">  
            <div class="cardtextstep">Step 3:</div>  
            <div class="cardtexthead">  
                <h4>Sell/Rent faster with instant connect</h4>  
            </div>  
            <div class="cardtextpara"><small>Negotiate with your prostective Buyer/Tanent & mutually  
                    close the deal</small></div>  
        </div>  
    </div>  
</div>  
</div>  
</div> -->