<section class="main">
    <aside class="container">
        <header class="head">
            <span class="headding"> Builders</span>
            </header>
            <footer class="cards">
             <aside class="card">
                <aside class="icon">
            <img src="\assets\images\R (1).jpg">
                </aside>
                <aside class="text">
                    <h4>AD  Constraction</h4>
                    <p>86+ items</p>
                </aside>
                <aside class="arrowicon">
                    <span class="material-icons-round">
                        chevron_right
                        </span>
                </aside>
             </aside>
            
             <aside class="card">
                <aside class="icon">
            <img src="\assets\images\pankajakasthuri_500-1.jpg">
                </aside>
                <aside class="text">
                    <h4>ABC builders</h4>
                    <p>90+ items</p>
                </aside>
                <aside class="arrowicon">
                    <span class="material-icons-round">
                        chevron_right
                        </span>
                </aside>
             </aside>
            
             <aside class="card">
                <aside class="icon">
            <img src="\assets\images\Himalaya-Logo-design-india-PNG-Transparent-Images.jpg">
                </aside>
                <aside class="text">
                    <h4>GK builders</h4>
                    <p>85+ items</p>
                </aside>
                <aside class="arrowicon">
                    <span class="material-icons-round">
                        chevron_right
                        </span>
                </aside>
             </aside>
            
             <aside class="card">
                <aside class="icon">
            <img src="\assets\images\final-logo-01.jpg">
                </aside>
                <aside class="text">
                    <h4>A Group Constraction</h4>
                    <p>130+ items</p>
                </aside>
                <aside class="arrowicon">
                    <span class="material-icons-round">
                        chevron_right
                        </span>
                </aside>
             </aside>
            
             <aside class="card">
                <aside class="icon">
            <img src="\assets\images\gerrardexcavating-logo.jpg">
                </aside>
                <aside class="text">
                    <h4>ZG group</h4>
                    <p>125+ items</p>
                </aside>
                <aside class="arrowicon">
                    <span class="material-icons-round">
                        chevron_right
                        </span>
                </aside>
             </aside>
            </footer>
    </aside>

</section>