@import "../../assets/scss/base/colors";
@import "../../assets/scss/base/fonts";
@import "../../assets/scss/base/mixins";
@import "../../assets/scss/base/typography";

.main{
  @include width-height-padding-bg-color-color(100%,32rem,none,#40EDFF,none);
  @include d-flex(center, center);
  position: relative;
  .body-content{
    @include width-height(50%,40%);
  text-align: center;
  .body-head{
  @include text-size-weight-color(4rem,500t,#fff);
  position: relative;
}
  .body-text{
    @include text-size-weight-color(1.2rem,500t,#fff);
    position: relative;
  bottom: 0.3em
  }
  .button{
    @include button(rgb(34, 31, 31),3em,1em 2.5em,white,1.1em);
    @include relative-top-bottom(1em,none);
    border:none;
    font-family: $family;
  }
  .button:hover{
    color: white;
    background-color: black;
  }
  }
  .linkbutton{
    @include text-absolute-right-b(2em,none);
   @include button(white,1em 1em 0em 0em,none,rgb(27, 25, 25),1em);
   border: 1px solid gray;
    .ul-links{
       @include d-flex(center, center);
       text-decoration: none;
    .li-links{
        margin: 1em 3em;
        list-style: none;
        
    }
    #first-list{
        padding-left: 2rem;
    }
    #last-list{
        padding-right: 2rem;
    }
    }
  }
  .search{
    @include text-absolute-right-b(-2em,none);
  .searchbutton{
    @include d-flex(space-between,center);
    @include width-height-padding-bg-color-color(64em,auto,0.3em,white,grey);
    @include b-radius-gap-b-shadow(3em,none,(rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0) 0px 15px 12px));
    list-style: none;
   .container{
    @include  d-flex(center,center);
    }
   .material-icons-round{
    @include position-fsize-left(none,1.4em);
    color: $gray2;


  }
  .select{
    border: none;
    padding-right: 0.5em;    
    color: $gray2;
    outline:none;
    @include position-fsize-left(1em,2.2em);
  }
  .arrow{
    position: absolute;
    left: 6em;
    top: 0.2em;
    font-size:39px;
    font-weight:200;
  }
  .inputlist{

    .inputlist-class{
      @include position-fsize-left(1em,4em);
      border: none;
      outline:none;
    }
  } 
  .buttonclass{
    @include button(#FF4141,3em,1em 3em,white,1.1em);
   border: 1px solid #FF4141;
  
  }
 
  }
 
  }

}