<header class="main">
    <section class="body-content">
        <h1 class="body-head">Revolution Starts Here</h1>
        <p class="body-text">Revo helps you get your dream faster</p>
        <button class="button">Get Started</button>
    </section>
    <section class="linkbutton">
        <ul class="ul-links">
<li class="li-links" id="first-list">BUY</li> <p>|</p>
<li class="li-links">RENT</li> <p>|</p>
<li class="li-links">COMMERIAL</li> <p>|</p>
<li class="li-links">PG/CO-LIVING</li> <p>|</p>
<li class="li-links" id="last-list">PLOTS</li>
        </ul>
    </section>
    <aside class="search">
       <aside class="searchbutton">
        <li class="container">     
    <span class="material-icons-round">
            my_location
            </span>
       <select class="select">
        <option value="sn"  class="inputlist">choose locality</option>
      <option value="sn"  class="inputlist">kozhikode</option>
      <option value="sn"  class="inputlist">kizhissery</option>
      <option value="sn"  class="inputlist">kondotty</option>
      <option value="sn"  class="inputlist">malapuram</option>
       </select>
       <p class="arrow">|</p>
    </li>

    <li class="inputlist">
        <input type="textarea" class="inputlist-class" size="50" placeholder="Search for locality,landmark,project or builders">
    </li>
   
    
        <button class="buttonclass">Search</button>
    
</aside>
    </aside>
</header>
