<header class="main">
  <aside class="logo-content">
    <p class="logo-head">REVO . HOME</p>
    <P class="logo-text">REAL ESTATE WILL NEVAR BE SAME</P>
  </aside>
  <aside class="listhead">
    <ul class="content">
      <li class="lists"><a class="list-link">Home</a></li>
      <li class="lists">
        <select name="category" id="category">
        <option value="sahfan" class="category-item">Category</option>
        <option value="sahfan" class="category-item">india</option>
        <option value="sahfan" class="category-item">america</option>
      </select></li>
      <li class="lists"><a class="list-link">REVO builders</a></li>
      <li class="lists"><a class="list-link">List Property</a></li>
      <li class="lists"><a class="list-link">Sign In</a></li>
      <li class="lists"><a class="list-link">Home</a></li>
      <li class="lists">
        <select name="category" id="category">
        <option value="sahfan" class="category-item">Account</option>
        <option value="sahfan" class="category-item">Account</option>
        <option value="sahfan" class="category-item">Account</option>
      </select></li>
    </ul>

  </aside>
</header>
<app-body></app-body>
<app-card></app-card>
<app-design></app-design>
<app-builders></app-builders>
<app-install-section></app-install-section>
<app-footer></app-footer>