@import "../assets/scss/base/colors";
@import "../assets/scss/base/fonts";
@import "../assets/scss/base/mixins";
@import "../assets/scss/base/typography";

.main{
    @include d-flex(space-between,flex-start);
    @include width-height(100%,6.1em);
    // background-color: red;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
   .logo-content{
    @include set-dafault-font($family,.6rem);
    @include text-relative-font(1.4rem,6.3rem);
    display: flex;
    gap: 1.9em;
    align-items: center;
    .logo{

        img{
            width: 5.4em;
            height: auto;
          border-radius: .5em;
        }
    }
 
    .logo-head{
        @include text-size-weight-color(1.4rem,700,#E05206);
        span{
            color: #6C6F70;
        }
    }
    .logo-text{
        @include text-size-weight-color(.53rem,500,#6C6F70);
        
    }
   }
   .listhead{
    @include text-relative-font(1.7rem,0rem);
    .content{
        @include text-flex-margin(0rem,10.35rem);
        @include text-size-weight-color(1rem,500,#6C6F70);
        #list_bord{
            // color: #FEED00;
            // display: flex;
            // gap: 5em;
            // justify-content: center;
            // align-items: center;
        }
        .home{
            display: flex;
            flex-direction: column;
            position: relative;
            color: #262626;
            .dot{
                position: absolute;
                top: -.3em;
                color: #E05206;
                font-size: 2.5em
            }
        }

       
        .lists{
            display: flex;
            // flex-direction: column;
            gap: -22em;
            align-items: center;
            // justify-content: flex-start;
       margin-left: 2.6em;
       list-style: none;
       .bord{
        width: 3em;
        height: 1.5em;
        background-color: #FEED00;
        font-size: .5em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .3em;
    }
       #category{
        border: none;
        @include text-size-weight-color(1.1rem,500,#6C6F70);
        background: none;
       }
        }
    }
   }
}