<section class="main">
    <aside class="container">
        <header class="heddings">
            <h1 class="main_head">
                Handpicked Residential Projects
            </h1>
            <p class="simple_head">
                Featured Residential Projects Across World
            </p>
        </header>
        <footer class="multiple_card">
            <section class="card">
                <aside class="rent">Rent</aside>
                <aside class="image"><img src="assets\images\Building.jpg " ></aside>
                <aside class="icon"><img src="\assets\images\building icon.jpg"  ></aside>
                <aside class="text">
                    <h1>Hill Top View Residentials</h1>
                    <p class="text_p">2 BHK Apartments , sector -16,USA</p>
                    <p class="number_p">$1,000</p>
                </aside>
            </section>
            <section class="card">
                <aside class="rent">Rent</aside>
                <aside class="image"><img src="assets\images\Building.jpg" ></aside>
                <aside class="icon"><img src="\assets\images\building icon.jpg"></aside>
                <aside class="text">
                    <h1>Hill Top View Residentials</h1>
                    <p class="text_p">2 BHK Apartments , sector -16,USA</p>
                    <p class="number_p">$1,000</p>
                </aside>
            </section>
            <section class="card">
                <aside class="rent">Rent</aside>
                <aside class="image"><img src="assets\images\Building.jpg" ></aside>
                <aside class="icon"><img src="\assets\images\building icon.jpg"></aside>
                <aside class="text">
                    <h1>Hill Top View Residentials</h1>
                    <p class="text_p">2 BHK Apartments , sector -16,USA</p>
                    <p class="number_p">$1,000</p>
                </aside>
            </section>
        </footer>
    </aside>
</section>
